<div class="container">
    <h1>My Personal Home Page</h1>
    <p>You can read more about me or just read my blog</p>    
    <p>Find me in app/views/pages/home.html.erb</p>
    <%= link_to 'About Me', about_path %>
</div>  
